@model List<RNews.Models.ViewModels.AccountViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin panel</h1>
<hr />

<div>
    <h4>Total Users: @Model.Count</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        @Html.Hidden("UserId", user.UserId)
                        <td>@user.UserName</td>
                        <td>@user.UserEmail</td>
                        <td>@foreach (var role in user.UserRoles)
                                {
                                    <span>@role</span>
                                }
                        </td>
                        <td>
                            @Html.ActionLink("Show", "Show", "Admin", new { id = user.UserId }, new { @class = "btn btn-sm btn-primary" })
                            @Html.ActionLink("Set Reader", "SetReader", "Admin", new { id = user.UserId }, new { @class = "btn btn-sm btn-success" })
                            @Html.ActionLink("Set Writer", "SetWriter", "Admin", new { id = user.UserId }, new { @class = "btn btn-sm btn-success" })
                            @Html.ActionLink("Ban", "Ban", "Admin", new { id = user.UserId }, new { @class = "btn btn-sm btn-dark" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

