@model RNews.Models.ViewModels.Admin.AccountInfoViewModel
@{
    ViewData["Title"] = "Show";
}

<div class="row justify-content-center">
    <div class="col-md-8 box-shadow">
        <h3>User info</h3>
        <hr />
        <div class="row form-group">
            <label for="account-info-id" class="col-sm-4 col-form-label font-weight-bold text-right">Id:</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext" id="account-info-id">@Model.Id </p>
            </div>
        </div>
        <div class="row form-group">
            <label for="account-info-name" class="col-sm-4 col-form-label font-weight-bold text-right">Name:</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext" id="account-info-name">@Model.Name </p>
            </div>
        </div>
        <div class="row form-group">
            <label for="account-info-role" class="col-sm-4 col-form-label font-weight-bold text-right">Role:</label>
            <div class="col-sm-8">
                @foreach (var role in Model.Roles)
                {
                  <span class="form-control-plaintext">@role</span> 
                }
            </div>
        </div>
        <div class="row form-group">
            <label for="account-info-email" class="col-sm-4 col-form-label font-weight-bold text-right">Email:</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext" id="account-info-email">@Model.Email </p>
            </div>
        </div>
        <div class="row form-group">
            <label for="account-info-description" class="col-sm-4 col-form-label font-weight-bold text-right">Description:</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext" id="account-info-description">@Model.Description</p>
            </div>
        </div>
        <div class="row form-group">
            <label for="account-info-registerdate" class="col-sm-4 col-form-label font-weight-bold text-right">Register Date:</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext" id="account-info-registerdate">@Model.RegisterDate</p>
            </div>
        </div>
        <div class="row form-group">
            <label for="account-info-external" class="col-sm-4 col-form-label font-weight-bold text-right">External:</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext"  id="account-info-external">@Model.IsExternal</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <a asp-action="Index" asp-controller="Admin" class="btn btn-block btn-sm btn-primary">Back to Control</a>
        </div>
    </div>    
</div>