@{
    ViewData["Title"] = "Home Page";
}
    
<div class="row">
    @foreach (var item in ViewBag.LastAdded)
    {
        <div class="col-md-4">
            <div id="post-@item.PostId" class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                           @Html.ActionLink("View", "show", "publication", new { id = item.PostId }, new { @class = "btn btn-sm btn-outline-secondary" })
                           @Html.ActionLink("Edit", "edit", "publication", new { id = item.PostId }, new { @class = "btn btn-sm btn-outline-secondary" })
                           @Html.ActionLink("Delete", "delete", "publication", new { id = item.PostId }, new { @class = "btn btn-sm btn-outline-secondary" })

                        </div>
                        <small class="text-muted">@item.Created.ToString("d")</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @foreach (var item in ViewBag.TopRatingPost)
    {
        <div id="post-@item.PostId" class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            @Html.ActionLink("View", "show", "publication", new { id = item.PostId }, new { @class = "btn btn-sm btn-outline-secondary" })
                            @Html.ActionLink("Edit", "edit", "publication", new { id = item.PostId }, new { @class = "btn btn-sm btn-outline-secondary" })
                            @Html.ActionLink("Delete", "delete", "publication", new { id = item.PostId }, new { @class = "btn btn-sm btn-outline-secondary" })
                        </div>
                        <small class="text-muted">@item.Created.ToString("d")</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<ul id="messages-list"></ul>
@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
}
