@model RNews.Models.ViewModels.PostShowViewModel
@{
    ViewData["Title"] = "Show";
}
    <link href="~/lib/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet" />
<div class="row justify-content-center">
    <div class="col-md-8 box-shadow">
        <h2 class="text-center font-weight-light">@Model.Title</h2>
        <hr />
        <img src="@Model.ImagePath" alt="Alternate Text" class="img-fluid mx-auto d-block" />
        <div>
            @Html.Raw(Model.Content)
        </div>
        <label for="input-1-ltr-star-xs" class="control-label">Rate This</label>
        <input id="input-1-ltr-star-xs" name="input-1-ltr-star-xs" class="kv-ltr-theme-default-star rating-loading" value="1" dir="ltr" data-size="xs">
        <div class="media row">
            <div class="col-sm-2">
                <img src="@Model.AuthorAvatar" class="mr-3 img-fluid" alt="Author Avatar">
            </div>

            <div class="media-body col-sm-10">
                <h5 class="mt-0">@Model.AuthorName</h5>
                на "RNews" с  @Model.DateOfCreatedAuthor.ToString("Y")
            </div>
        </div>
        <form asp-controller="Comment" asp-action="Create">
            <input type="hidden" name="postId" value="@Model.PostId" />
            <textarea name="content" class="form-control form-control rounded-0 border-top-0 border-left-0 border-right-0" type="text"></textarea>
            <button type="submit">Ok</button>
        </form>
        <hr />
        @foreach (var comment in Model.PostComments)
        {
            <div>@comment.Content</div>
        }
        <partial name="_Comments" />
    </div>
</div>

@section Scripts{
    <script src="~/lib/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="~/js/ratepost.js"></script>
}