@model RNews.Models.ViewModels.PostShowViewModel
@{
    ViewData["Title"] = "Show";
}

<div class="row justify-content-center">
    <div class="col-md-8 box-shadow">
        <h2 class="text-center font-weight-light">@Model.Title</h2>
        <hr />

        <img src="@Model.ImagePath" alt="Alternate Text" class="img-fluid mx-auto d-block" />
        <div>
            @Html.Raw(Model.Content)
        </div>
        <input id="post-id" type="hidden" name="postId" value="@Model.PostId" />
        <input id="user-id" type="hidden" name="userId" value="@ViewBag.CurrentUserId" />
        <div>
            <input id="post-rating" name="ratingPost" class="rating" >
            <p id="all-rating">Рейтинг: @Model.Rating</p>
        </div>

        <div class="row justify-content-center">
            @foreach (var tag in Model.Tags)
            {
                <div class="col-2 badge badge-light m-1 p-2">#@tag.Tag.TagName</div>
            }
        </div>
        <div class="media row">
            <div class="col-sm-2">
                <img src="@Model.AuthorAvatar" class="mr-3 img-fluid" alt="Author Avatar">
            </div>

            <div class="media-body col-sm-10">
                <h5 class="mt-0">@Model.AuthorName</h5>
                на "RNews" с  @Model.DateOfCreatedAuthor.ToString("Y")
            </div>
        </div>
        <hr />
        <form>

            <textarea id="comment-content" name="content" class="form-control form-control mb-3" type="text" placeholder="let's disqus"></textarea>
            <button id="comment-submit" type="submit" class="btn btn-primary btn-sm btn-block">Ok</button>
        </form>
        <hr />
        <div class="row">
            <div class="col-12">
                <ul id="messagesList" class="list-group list-group-flush">
                    @foreach (var comment in Model.PostComments)
                    {
                        <li id="comment-item" class="list-group-item">
                            <div class="row">
                                <div class="col-12"><small class="text-muted">@comment.User.UserName | @comment.Created.ToString("MM/dd/yyyy")</small></div>
                                <div class="col-12">@comment.Content</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>



    </div>
</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Comments.js"></script>
    <script src="~/lib/Input-Field-Star-Rating-Plugin-jQuery/js/simple-rating.js"></script>
    <script src="~/js/RatingPost.js"></script>
}